# Import libraries

In [1]:
import pandas as pd

# Load data

In [2]:
cars = pd.read_csv('../data/processed_capstone_data.csv')
cars

,adv_id,maker,genmodel,genmodel_id,adv_year,adv_month,color,reg_year,body_type,run_miles,...,engine_power,annual_tax,wheelbase,height,width,length,average_mpg,top_speed,seat_num,door_num
0,10_1$$1,Bentley,Arnage,10_1,2018,4,Silver,2000,Saloon,60000.0,...,450.0,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
1,10_1$$10,Bentley,Arnage,10_1,2017,11,Silver,2003,Saloon,38000.0,...,450.0,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
2,10_1$$11,Bentley,Arnage,10_1,2018,3,Green,2003,Saloon,69491.0,...,450.0,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
3,10_1$$12,Bentley,Arnage,10_1,2018,6,Silver,2002,Saloon,52000.0,...,450.0,315.0,3116.0,1515.0,2125.0,5390.0,13.7,179.0,5.0,4.0
4,10_1$$13,Bentley,Arnage,10_1,2018,4,Silver,2000,Saloon,53444.0,...,450.0,NaN,3116.0,1515.0,2125.0,5390.0,NaN,NaN,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266230,97_1$$1,Westfield,Sport,97_1,2018,5,Yellow,2006,Convertible,1800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
266231,97_1$$2,Westfield,Sport,97_1,2018,5,Yellow,2006,Convertible,2009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
266232,99_1$$1,Zenos,E10,99_1,2018,3,Red,2016,Convertible,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
266233,99_1$$2,Zenos,E10,99_1,2018,3,Green,2016,Convertible,1538.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
266234,99_1$$3,Zenos,E10,99_1,2018,5,Grey,2016,Convertible,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN

# Columns info

Columns to check:
- adv_year
- adv_month
- reg_year
- engine_size
- seat_num
- door_num
- run_miles
- price

In [3]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266235 entries, 0 to 266234
Data columns (total 24 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   adv_id        266235 non-null  object
 1   maker         266235 non-null  object
 2   genmodel      266235 non-null  object
 3   genmodel_id   266235 non-null  object
 4   adv_year      266235 non-null  int64
 5   adv_month     266235 non-null  int64
 6   color         244498 non-null  object
 7   reg_year      266235 non-null  int64
 8   body_type     266216 non-null  object
 9   run_miles     265201 non-null  float64
 10  engine_size   265913 non-null  float64
 11  gearbox       266085 non-null  object
 12  fuel_type     266233 non-null  object
 13  price         266235 non-null  float64
 14  engine_power  264280 non-null  float64
 15  annual_tax    219940 non-null  float64
 16  wheelbase     257408 non-null  float64
 17  height        265081 non-null  float64
 18  width         265403 non-null  float64
 19  length        265418 non-null  float64
 20  average_mpg   225551 non-null  float64
 21  top_speed     223877 non-null  float64
 22  seat_num      266172 non-null  float64
 23  door_num      265958 non-null  float64
dtypes: float64(13), int64(3), object(8)
memory usage: 48.7+ MB

Columns with correct type:
- adv_year (int)
- adv_month (int)
- reg_year (int)
- engine_size (float)

In [4]:
def check_int(df, col):
    temp_df = df.dropna(subset=[col])
    return all(temp_df[col].astype('int') == temp_df[col])

print(check_int(cars, 'seat_num'))
print(check_int(cars, 'door_num'))
print(check_int(cars, 'run_miles'))
print(check_int(cars, 'price'))

True
True
True
True

Columns with correct type:
- seat_num (int)
- door_num (int)
- run_miles (int)
- price (int)

# Summary

All numeric columns match expected data types.